.wrapper {
  padding: 19px 41px 19px 36px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 11px;
}

.title {
  font-size: 14px;
  font-weight: 700;
}

.form {
  padding: 20px 6px 19px 12px;
  margin-bottom: 10px;

  border: 1px solid #f3f3f3;
  border-radius: 8px;

  & > div {
    margin-bottom: 10px;
  }

  & > div:last-child {
    margin-bottom: 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}
