.wrapper {
  padding: 19px 11.5% 19px 6.63%;
}

.title {
  margin-bottom: 17px;

  font-size: 14px;
  font-weight: 700;
}

.totalSearch {
  text-align: end;
}

.items_card {
  & > div {
    margin-bottom: 20px;
  }
  & > div:last-child {
    margin-bottom: 10px;
  }
}
