@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

body {
  height: 100%;
  background-color: #e5e5e5;
}

button {
  border: none;
  outline: none;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}
